<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 - biBOT</title>
</head>
<body>
    <h1>관리자 페이지</h1>
    <button onclick="window.location='/adminNotice'">공지사항 작성</button>

    <br><br>

    <button onclick="window.location='/notice'">공지사항 수정/삭제</button>

    <br><br>

    <button onclick="window.location='/adminMember'">회원 관리</button>

    <br><br>

    <button onclick="window.location='/logout'">로그아웃</button>
</body>
</html>
