<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에러!!</title>
    <link rel="stylesheet" type="text/css" href="/css/error404.css">
    <!--html, css 출처 : https://codepen.io/ddly/-->
</head>
<body>

<div class="scene">
    <div class="planet">
      <div class="crater"></div>
      <div class="crater"></div>
      <div class="crater"></div>
      <div class="crater"></div>
      <div class="crater"></div>
      <div class="rover">
        <div class="body"></div>
        <div class="wheels"></div>
        <div class="trace"></div>
      </div>
      <div class="flag">
        404
      </div>
    </div>
    <div class="message">
      <p>
        페이지를 찾을 수 없어요. 🧐 <a href="/">홈으로 돌아가기</a>
      </p>
    </div>
  </div>    

</body>
</html>

