<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>biBOT</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
    <header>
        <!-- <a href="#" class="logo">TJEBOT</a> -->
        <img src="/imgs/testLogo.png" height="70" width="150" />
        <ul>
            <li><a href="#" class="active">HOME</a></li>
            <li><a href="/service">SERVICE</a></li>
            <li><a href="/notice">NOTICE</a></li>
            <% if ( isLogin == true ) { %>
                <li><a href="/editMember">MY PAGE</a></li>
                <li><a href="/logout">LOGOUT</a></li>
            <% } else { %>
                <li><a href="/login" id="login">LOGIN</a></li>
            <% } %>
            
        </ul>

    </header>
    <section>
        <img src="/imgs/stars.png" id="stars">
        <img src="/imgs/hi.png" id="moon">
        <img src="/imgs/mountains_behind.png" id="mountains_behind">
        <!-- <h2 id="text">biBot을 이용해 보세요.⚡️</h2> -->
        <a href="#sec" id="btn">더 보기</a>
        <img src="/imgs/mountains_front.png" id="mountains_front">
    </section>
    <div class="sec" id="sec">
        <h2>biBOT은</h2>
        <p>
            
            Web 3.0 팀들과 암호화폐 인플루언서들의 트위터 게시글을 업로드하면 실시간으로 번역하여 메신저로 전송합니다.
            <br><br>
            바이낸스, FTX, 업비트와 같은 대형 거래소들의 공지사항을 번역하여 메신저로 전송합니다.
            <br><br>
            암호화폐가 거래소에 상장되기 전 지갑이 생성되는 것을 감지해 상장 정보를 가장 빠르게 받을 수 있습니다.
            <br><br>
            

        </p>
        <p>
            <br><br>
        </p>

    </div>
    

    <script src="/js/index.js"></script>
</body>

</html>