<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>서비스 - biBOT</title>
        <!-- Favicon-->
        <!-- <link rel="icon" type="image/x-icon" href="assets/favicon.ico" /> -->
        <!-- Bootstrap icons-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="/css/service.css" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    </head>
    <body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
        
        <!-- Header-->
        <header class="bg-dark py-1">
            <img src="/imgs/testLogo.png" height="70" width="150" />
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/service" class="active">SERVICE</a></li>
                <li><a href="/notice">NOTICE</a></li>
                <% if ( data == 'no login' ) { %>
                    <li><a href="/login" id="login">LOGIN</a></li>
                <% } else { %>
                    <li><a href="/editMember">MY PAGE</a></li>
                    <li><a href="/logout">LOGOUT</a></li>
                <% } %>
                
            </ul>

            <!-- <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Lorem</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa ex sunt, veritatis blanditiis suscipit non reiciendis ipsum. Molestiae delectus vitae aliquam labore doloremque? Accusantium dignissimos voluptate aspernatur tempore nulla est!</p>
                </div>
            </div> -->
        </header>
        <!-- Section-->
        <br><br><br>
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <!-- <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." /> -->
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">트위터 공지 알림 🐦</h5>
                                    <!-- Product price-->
                                    트위터를 통해 안내되는 팀의 공지를 실시간으로 한글 번역하여 전송
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <% if (data=='no login') { %>
                                        <button class="btn btn-outline-dark mt-auto" onclick="window.location='/login'">로그인</button>
                                    <% } else { %>
                                        <input type="text" id="telId" name="telId" placeholder="텔레그램 ID"/> <br><br>
                                        <button class="btn btn-outline-dark mt-auto" onclick="tweetId()">시작하기</button>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">준비중</div>
                            <!-- Product image-->
                            <!-- <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." /> -->
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">김치 프리미엄 알림 </h5>
                                    <!-- Product reviews-->
                                    <!-- <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div> -->
                                    <!-- Product price-->
                                    <!-- <span class="text-muted text-decoration-line-through">$20.00</span> -->
                                    한국 거래소와 해외 거래소의 암호화폐 시세차이가 3% 이상이면 알림 전송
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <!-- <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">시작하기</a></div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">준비중</div>
                            <!-- Product image-->
                            <!-- <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." /> -->
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">김프 자동 매매</h5>
                                    <!-- Product price-->
                                    <!-- <span class="text-muted text-decoration-line-through">밑줄</span> -->
                                    거래소 간 가격 차이가 3% 이상일 시 싼 거래소에서 매수, 비싼 거래소로 전송 후 매도
                                </div>
                            </div>
                            <!-- Product actions-->
                            <!-- <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">시작하기</a></div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">준비중</div>
                            <!-- <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." /> -->
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">상장 정보 알림</h5>
                                    <!-- Product reviews-->
                                    <!-- <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div> -->
                                    <!-- Product price-->
                                    거래소에 상장되기 전 지갑이 생성되는 것을 감지하여 안내
                                </div>
                            </div>
                            <!-- Product actions-->
                            <!-- <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">시작하기</a></div>
                            </div> -->
                        </div>
                    </div>
                    
                </div>
            </div>
            <br><br><br><br><br><br>
            <br><br><br><hr>
            <h6 class="container"> 이 웹사이트의 정보는 어떤 형태의 제공을 의미하지 않으며
                 판매를 위한 제공 또는 구매를 위한 제공의 권유, 보증, 상품 또는 기타 금융 제품으로 해석되지 않습니다. 또한 이 웹사이트의 정보는 투자 조건의 제공을 의미하지 않습니다. 이 웹사이트에 표현 또는 암시된 모든 목적, 가정, 기대, 전략 및/또는 목표가 실현되었거나 될 것 또는 묘사한 활동 또는 성과가 이 웹사이트의 설명처럼 지속되었거나 지속될 것이라는 보증은 없습니다. </h6>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; biBot 2022</p> <br>
                <!-- <h6 class = "text-white"> 이 웹사이트의 정보는 어떤 형태의 제공을 의미하지 않으며 판매를 위한 제공 또는 구매를 위한 제공의 권유, 보증, 상품 또는 기타 금융 제품으로 해석되지 않습니다.또한 이 웹사이트의 정보는 투자 조건의 제공을 의미하지 않습니다.여기에 표현 또는 암시된 모든 목적, 가정, 기대, 전략 및/또는 목표가 실현되었거나 될 것 또는 묘사한 활동 또는 성과가 이 웹사이트의 설명처럼 지속되었거나 지속될 것이라는 보증은 없습니다. </h6> -->
                
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
        <script>
            function tweetId() {
                let telId = $('#telId').val();
                $.ajax({
                url: "/serviceTw",
                type: "POST",
                data: {
                    telId: telId
                },
                // success: function(data) {
                //     if (data === "중복 ID") {
                //         alert("이미 존재하는 ID 입니다.");
                //     }else if(data === "성공") {
                //         alert("정상적으로 회원가입이 되었습니다.");
                //         window.location="/login";
                //     }
                // }
            })

            }

        //     function hasTweetId() {
        //         $.ajax({
        //         url: "/serviceTw",
        //         type: "POST",
        //         data: {
        //             telId: '.has'
        //         },
        //         // success: function(data) {
        //         //     if (data === "중복 ID") {
        //         //         alert("이미 존재하는 ID 입니다.");
        //         //     }else if(data === "성공") {
        //         //         alert("정상적으로 회원가입이 되었습니다.");
        //         //         window.location="/login";
        //         //     }
        //         // }
        //     })
        // }


        </script>
    </body>
</html>
