<!DOCTYPE html>
<html>
<head>
	<title>회원가입 - biBOT</title>
	<link rel="stylesheet" type="text/css" href="/css/loginStyle.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
    <div class="container">
        <div class="form sign-in-container">
            <form action="#">
                <h1>회원가입</h1>
                <input type="email" placeholder="이메일" id="id" name="id" />
                <input type="password" placeholder="Password" id="password" name="password" />
                <input type="password" placeholder="Password" id="password_a" name="cpassword" />
                <input type="text" placeholder="이름" id="name" name="name" />
                <input type="date" placeholder="생일" id="birth" name="birth" />
                <input type="text" placeholder="연락처( - 없이 입력 )" id="phoneNum" name="phoneNum" />
                <button type="button" class="btn" onclick="checkPW();">회원가입</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>로그인</h1>
                    <p>이미 계정을 갖고 계신가요?</p>
                    <button class="signup_btn" onclick="window.location='/login'">로그인</button>
                    <br />
                    <button class="signup_btn" onclick="window.location='/'">홈</button>
                </div>
            </div>
        </div>
    </div>
    

    <script src="/js/signUp.js"></script>

</body>
</html>


<!--로그인 폼 출처 : https://rpbloggers.com/free-download-html-css-login-form/#google_vignette -->